.sectionList {
    border-right: 1px solid #000;
    padding: 20px 20px 20px 50px;
}

.section {
    padding: 10px 0;
    line-height: 20px;
    font-size: 17px;
}
.sectionName {
    font-weight: bold;
    font-size: 20px;
}

.lessons {
    padding-left: 30px;
    margin-top: 10px;
}

.activeLink {
    font-weight: bold;
}