.sectionList {
    border-right: 1px solid #000;
    padding: 20px;
}

.section {
    padding: 10px 0;
    line-height: 20px;
    font-size: 17px;
}

.sectionName {
    font-family: 'Exo 2';
    font-weight: bold;
    font-size: 20px;
}

.sectionName:hover {
    cursor: pointer;
}

.sectionContent {
    display: flex;
    align-items: center;
}
.sectionNameBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.lessonsVisibile {   
    padding-left: 10px;
    margin-top: 10px;
    display: block;
}

.lessonsHidden {
    display: none;
}

.item {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
}

.moveElementBlock {
    display: flex;
    flex-direction: row;
    min-width: 41px;
    justify-content: center;
    align-items: center;
}

.serviceBlock {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activeLink {
    font-family: 'Exo 2';
    font-weight: bold;
}

.addLessonBtn {
    margin-top: 10px;
    display: block;
}

.addSectionBtn {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    display: block;
}

.fa-chevron-up {
    transform: rotateX(0);
}

.fa-chevron-up.active {
    transform: rotateX(180deg);
    font-size: 20px;
}