.selfInfo {
    width: 50vw;
    margin: 0 auto;
}

.stats>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 13px 0;
    border-bottom: 1px solid #bcbcbc;
}
.infoBlock {
    border-bottom: 1px solid #bcbcbc;

}
.infoBlock div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 13px 0;    
}
.stats>div{    
    font-weight: bold;
    font-size: 20px;
}

.resetForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}