.tasksList  {
    border-right: 1px solid #000;
    padding: 20px;
}

.task {
    padding: 10px 0;
}

.taskName {
    font-weight: bold;
    font-size: 18px;
}

.stats {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.stats div {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
}
.stats img {
    width: 20px;
}