.login {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form {
    width: 100%;
}

.login h1 {
    text-align: center;
    font-family: 'Exo 2';
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.login form input {
    padding: 17px 10px;
    width: 100%;
    box-sizing: border-box;
}

.login button {
    display: block;
    margin: 10px auto;
    width: 100%;
    font-family: 'Exo 2';
    font-weight: bold;
    padding: 0;
}

.login button.active {    
    background: #000;
    color: #ddad35;
    font-weight: normal;
    padding: 10px;
}

.formError {
    text-align: center;
    margin-bottom: 10px;
    color: #f05642;
    font-size: 22px;
}