.lesson {
    margin: 30px 50px;
}

.lesson p {
    line-height: 22px;
    font-size: 22px;
    font-weight: 300;
    white-space: pre-line;
    width: 100%;
}

.lesson h2 {
    font-size: 20px;
    font-weight: bold;
}

.lessonTitle, .sectionTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sectionTitle {    
    margin-bottom: 5px;
}

.buttonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonHolder button {
    background: #000;
    color: #fff;
    padding: 10px 50px;
}
.buttonHolder button[disabled] {
    background: #585858!important;   
}

.buttonHolder  button:hover {
    box-shadow: 1px 1px 2px #818181;
    cursor: pointer;
}


.lessonElement {
    margin-top: 30px;
}

.addElements {
    margin: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.addElements button{   
    font-size: 18px;
    margin-bottom: 5px;
}

.elementHeader {
    margin-left: -40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

input {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 20px;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px 5px;
    font-weight: normal;
    overflow: hidden;
}

.publishCheckboxBlock {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.publishCheckboxBlock input {    
    width: auto;    
}


.answerBlock {
    margin-top: 20px;
}

.likeLesson button {
    background: #fff;
    color: #000;
    padding:10px;
    font-size: 22px;
    transition: .5s;
}
.likeLesson:hover {
    cursor: pointer;
}
.likeLesson button:hover {
    box-shadow: none;
    color: #353535;
}

.lessonButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}